/**
                     _                     __      _         _
__      ____ _ _   _| |__   __ _ _ __     / /  ___| |_ _   _| | ___
\ \ /\ / / _` | | | | '_ \ / _` | '__|   / /  / __| __| | | | |/ _ \
 \ V  V / (_| | |_| | |_) | (_| | |     / /   \__ \ |_| |_| | |  __/
  \_/\_/ \__,_|\__, |_.__/ \__,_|_|    /_/    |___/\__|\__, |_|\___|
               |___/                                   |___/
*/

@import "/home/unamomo/.cache/wal/colors-waybar.css";

#waybar {
  color: @foreground;
  background-color: transparent;
  font-family: "Hack Nerd Font Mono";
  font-size: 16px;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar .modules-right > *,
#waybar .modules-left > *,
#waybar .modules-center > * {
  padding: 0 10px;
  margin: 0;
}

/* Basic styling for the volume module */
#pulseaudio {
  background-color: @background;
  color: @foreground;
  padding: 0 10px;
  margin: 5px;
  border-radius: 12px;
  border: 1px solid @color15;
  box-shadow: 0 0 8px gray;
}

/* Style for the muted state */
#pulseaudio.muted {
  background-color: @background;
  color: @color1; /* Red for muted */
}

/* Apply pulse animation for high volume */
#pulseaudio.high {
  animation: pulse 1s infinite;
}

/* Tooltip styling (shows on hover) */
tooltip {
  background: @background;
  border-radius: 12px;
  border: 1px solid @foreground;
  padding: 10px;
  color: @foreground;
  font-size: 13px;
  box-shadow: 0 0 8px gray;
}

#workspaces {
  margin: 5px 1px 6px 1px;
  padding: 0px 1px;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  box-shadow: 0 0 8px gray;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: @color1;
  background-color: @color11;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @foreground;
  background-color: @background;
  border: 3px solid @foreground;
  border-radius: 15px;
  min-width: 80px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-size: 18px;
}

#workspaces button.inactive {
  background-color: @color5;
  color: @foreground
}

#workspaces button:hover {
    color: @color3;
    background: @color13;
    border-radius: 15px;
}

#custom-appmenu,
#network,
#window,
#cpu,
#memory,
#disk,
#keyboard-state,
#custom-exit,
#tray,
#clock {
  color: @foreground;
  background-color: @background;
  border-radius: 12px;
  border: 1px solid @vibrant-color;
  margin: 5px;
  padding: 0 10px;
  box-shadow: 0 0 8px gray;
}
