[Unit]
Description=xremap

# Wait for keyboard connection and stop on disconnection.
# The sys-keyboard device is created via udev rule.
BindsTo=sys-keyboard.device
After=sys-keyboard.device

[Service]
KillMode=process
ExecStart=/home/kensukenakai/.cargo/bin/xremap /home/kensukenakai/.config/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Restart=always

[Install]
WantedBy=default.target

# Start when the keyboard is connected.
WantedBy=sys-keyboard.device
